@model IEnumerable<FreeRadMVC5.ViewModels.UserGroupViewModel>


@{
    ViewBag.Title = "Пользователи :: членство в группах";
}

<h2>Пользователи :: членство в группах</h2>

<br />

<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<div>
    <div class="row">
        <p>
            @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success" })
        </p>
        <a href="@Url.Action("Index", "User")" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Назад
        </a>
    </div>
</div>